<!DOCTYPE html>
<html lang="en "
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>New password</title>
</head>

<body class="login">
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>

</header>

<main>

    <div class="login-container changePassContainer">


        <form class="changePassForm"
              th:method="post"
              th:action="@{/users/login/new-password}"
              th:object="${newPasswordDTO}" >
            <p class="error-message" th:errors="${newPasswordDTO}"></p>
            <p class="error-message" th:errors="*{newPassword}"></p>
            <label for="newPassword">

                <input class="field"
                       type="password"
                       th:errorclass="error-border"
                       placeholder="Enter new password"
                       id="newPassword"
                       name="newPassword">
            </label>

            <label for="confirmNewPassword">

                <input class="field"
                       type="password"
                       placeholder="Confirm new password"
                       id="confirmNewPassword"
                       name="confirmNewPassword">

            </label>
            <button type="submit" class="submit-btn">Submit</button>

        </form>


    </div>


</main>
<th:block th:replace="~{fragments/commons::footer}"></th:block>

</body>

</html>
