<!DOCTYPE html>
<html lang="en "
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>New City</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>



    </header>

    <main>


        <h3 class="section-title">
            <span class="red">New</span> City.
        </h3>



        <form th:action="@{/admin/cities/new}"
              th:method="post"
              th:object="${cityDTO}" class="form edit-account">
            <div class="edit-field">

                <label class="bold">Name
                    <input class="edit-acc-field" type="text" placeholder="City name"
                           th:field="*{name}"
                           name="name" id="name" >
                </label>
                <p th:errors="*{name}" class="red"></p>
            </div>
            
            <div class="btn edit-btn">
                <button class="submit-btn save-changes" type="submit">Save</button>
            </div>

        </form>



    </main>
    <th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>