<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragments/commons::head}"></th:block>
  <title>404</title>
</head>

<body>
<header>
  <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


  <div class="one-row">
    <div class="error-code">404</div>
    <div class="underlined-msg" >The page cannot be found!</div>
  </div>



</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>