<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Add offer</title>

</head>

<body class="add-offer">
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>
    </header>

    <main>


        <h3 class="section-title"><span class="blue">Add</span> offer - Step 2.</h3>
        <p class="info">All the entered information will be visible to clients once the offer is published.</p>

        <form action="/" method="post" class="add-offer-form grid-step-2">

            <div class="form-group">
                <input class="s-form long-text" type="text" name="address" id="address" placeholder="*Enter Address">
            </div>



           <div class="grid-2">
            <div class="form-group">
                <select class="s-form" id="cityName">
                    <option value="location">*Chose City</option>
                    <option value="Sofia">Sofia</option>
                    <option value="Varna">Varna</option>
                    <option value="Bourgas">Bourgas</option>
                    <option value="Plovdiv">Plovdiv</option>
                </select>
            </div>

            <div class="form-group">
                <input class="s-form" type="number" name="year" id="year" placeholder="*Year of construction">
            </div>



            <div class="form-group">
                <select class="s-form" id="parking">
                    <option value="parking">*Available parking</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>

                </select>
            </div>




            <div class="form-group">
                <select class="s-form" id="elevator">
                    <option value="parking">*Available elevator</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>

                </select>
            </div>

            <div class="form-group">
                <input class="s-form" type="number" name="floor" id="floor" 
                placeholder="*Floor">
            </div>

            <div class="form-group">
                <input class="s-form" type="number" name="floors" id="floors" 
                placeholder="*Max floors in the building">
            </div>
           </div>

            <div class="grid-3">
                
            <div class="form-group">
                <input class="plan" type="number" name="bedrooms" id="bedrooms" placeholder="*Bedrooms">
            </div>

            <div class="form-group">
                <input class="plan" type="number" name="bathrooms" id="bathrooms" placeholder="*Bathrooms">
            </div>
            <div class="form-group">
                <input class="plan" type="number" name="balconies" id="balconies" placeholder="*Balconies">
            </div>
            </div>



            <div class="btn next">
                <button class="submit-btn" type="submit">Save</button>
            </div>
        </form>




        <th:block th:replace="~{fragments/commons::footer}"> </th:block>





    </main>

</body>

</html>