<!DOCTYPE html>
<html lang="en "
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Moderator</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


    <div class="new">
        <button class="new-btn">New Category</button>
        <button class="new-btn">New Location</button>
    </div>


    <h4 class="section-title"><span class="blue">New</span> Registered Users.</h4>

    <table class="offers-table">
        <thead>

        <th>Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Updated on</th>
        <th>Edit</th>



        </thead>

        <tbody >

        <tr  th:each="user: ${users}" th:object="${user}" >
            <td th:text="*{id}">2</td>
            <td th:text="*{names}">Petar Petrov</td>
            <td th:text="*{email}">petar@abv.bg</td>
            <td th:text="*{role.name()}">USER</td>
            <td th:text="*{updateDate}">20-02-2022</td>
            <td><a class="delete-btn no-underline" th:href="@{/admin/users/{id}(id=*{id})/edit}" >Edit</a></td>

        </tr>

        </tbody>
    </table>

    <!--    todo pageable-->
    <!--    <div class="show-more last">-->
    <!--        <li class="page-item active" th:classappend="${users.isFirst() ? 'disabled' : ''}">-->
    <!--            <a class="page-link" th:href="${users.previus()}">Previous</a>-->
    <!--        </li>-->
    <!--        <li class="page-item" th:classappend="${users.isLast() ? 'disabled' : ''}">-->
    <!--            <a class="page-link" th:href="${users.next()}">Next</a>-->
    <!--        </li>-->
    <!--    </div>-->




</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>


</body>

</html>