<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Requests</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>


</header>

<main>


    <h4 class="section-title">
        <span class="blue ">Requests</span>.
    </h4>


    <table class="offers-table">
        <thead>
        <th>Request Id</th>
        <th>Status</th>
        <th>Offer name</th>
        <th>Client name</th>
        <th>Received on</th>
        <th>View request</th>
        </thead>
        <tbody id="tbody-requests">
        <!--                <tr>-->
        <!--                    <td>1021</td>-->
        <!--                    <td class="active">New</td>-->
        <!--                    <td class="td-name"><a href="/Project/offer-details.html">2-bedroom apartment in Sunny Beach</a></td>-->
        <!--                    <td>Ivan Ivanov</td>-->
        <!--                    <td>20-02-2023</td>-->
        <!--                    <td><button class="new-btn">View</button></td>-->
        <!--                </tr> -->

        </tbody>


    </table>


</main>
<th:block th:replace="~{fragments/commons::footer}"></th:block>
<script type="text/javascript" src="/js/agency-requests.js"></script>
</body>

</html>