<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Agency Offers</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>
    </header>

    <main>



        <h3 class="section-title">
            <span class="blue">Offers.</span>
        </h3>
        <p class="italic center bold">Offers cannot be active without pictures.</p>


        <table class="offers-table">    
            <thead>
                <th>Id</th>
                <th>Status</th>
                <th>Name</th>
                <th>Created on</th>
                <th>Edit offer</th>
                <th>Change status</th>
            </thead>
            <tbody id="tbody-offers">
<!--                <tr >-->
<!--                    <td>1010</td>-->
<!--                    <td class="active">Active</td>-->
<!--                    <td class="td-name">-->
<!--                        <a href="/Project/offer-details.html">2-bedroom apartment in Sunny Beach</a>-->
<!--                    </td>-->
<!--                    <td>20-11-2022</td>-->
<!--                    <td><button class="new-btn">Edit</button></td>-->
<!--                    <td><button class="delete-btn">Status</button></td>-->
<!--                </tr>-->

            </tbody>


        </table>




    </main>
    <th:block th:replace="~{fragments/commons::footer}"> </th:block>
    <script  type="text/javascript" src="/js/agency-offers.js"></script>

</body>

</html>