<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Create Profile</title>
</head>

<body>
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>

    </header>

    <main>


        <h3 class="section-title">
            <span class="red">Create</span> profile.
        </h3>



        <form th:action="@{/agency/profile/create}" th:method="post"
              th:object="${agencyProfileDTO}"
              class="form edit-account" enctype="multipart/form-data">

            <div class="name edit-field">
                <label for="name" class="bold">Name</label>
                <input class="edit-acc-field" type="text"
                       th:field="*{name}"
                       th:errorclass = "error-border"
                       name="name" id="name">
            </div>

            <div class="address edit-field">
                <label for="address" class="bold">Address</label>
                <input class="edit-acc-field" type="text"
                       th:field="*{address}"
                       th:errorclass = "error-border"
                       name="address" id="address">
            </div>

            <div class="phone edit-field">
                <label for="phone" class="bold">Phone</label>
                <input class="edit-acc-field" type="number"
                       th:field="*{phoneNumber}"
                       th:errorclass = "error-border"
                       name="phone" id="phone">
            </div>

    
            <div class="edit-field upload-logo">
                <label for="logo" class="bold">Logo</label>
                <input type="file" name="logo"  id="logo"
                       th:field="*{logo}">

            </div>
           

            <div class="btn edit-btn">
                <button class="submit-btn save-changes" type="submit">Save</button>
            </div>

        </form>

    </main>
    <th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>