<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Edit Profile</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


    <h3 class="section-title">
        <span class="red">Edit</span> profile.
    </h3>


    <form th:action="@{/agency/profile/edit/{id}(id = ${userVisibleId})}"
          th:method="patch" th:object="${agencyEditProfileDTO}"
          class="form edit-account" enctype="multipart/form-data">
        <div class="name edit-field">
            <label for="name" class="bold">Name</label>
            <input disabled  class="edit-acc-field" type="text"
                  id="name" th:name="${agency.name}"
                   th:value="${agency.name}"

            >
        </div>
        <div class="address edit-field">
            <label for="address" class="bold">Address</label>
            <input class="edit-acc-field" type="text"
                   name="address" id="address"
                   th:value="${agency.address}"
                   th:name="address"
                   th:errorclass="error-border"

            >
        </div>
        <div class="phone edit-field">
            <label for="phoneNumber" class="bold">Phone</label>
            <input class="edit-acc-field" type="number"
                   name="phoneNumber" id="phoneNumber"
                   th:value="${agency.phoneNumber}"
                   th:name="phoneNumber"
                   th:errorclass="error-border"
            >
        </div>


        <div class="edit-field upload-logo">
            <label for="logo" class="bold">Logo</label>
            <input type="file" name="logo"  id="logo"
                   th:name="logo">
        <output ><img th:src="${agency.logoUrl}" alt="logo"></output>
        </div>


        <div class="btn edit-btn">
            <button class="submit-btn save-changes" type="submit">Save changes</button>
        </div>

    </form>


</main>
<th:block th:replace="~{fragments/commons::footer}"></th:block>

</body>

</html>