<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <title>You wished for offers</title>
</head>

<body>
<header>
</header>

<main>

  <p>  Hello, <th:block th:text="${username}"></th:block>,
    please find some properties below:</p>



    <article th:each="offer: ${offers}" th:object="${offer}" class="offer-search">
      <div class="s-img">
        <img th:src="*{imageURL}" th:alt="*{name}">
      </div>
      <div class="text">
        <h3>
          <a class="link-reset" th:text="*{name}">
<!--             th:href="@{/offers/{visibleId}(visibleId = *{visibleId})}">-->
            2-bedroom apartment in Sunny Beach</a>
        </h3>
        <div><i class="fa-sharp fa-solid fa-location-dot"></i>
          <span th:text="*{address}">Pomorie, Flora Beach Resort</span></div>
        <div class="text">
          <span th:text="|*{area} m2.|" class="bold"></span>
          <span class="floor"><i class="fa-solid fa-stairs"></i>
                        <span th:text="*{floorInfo}">3 from 6</span></span>
          <div th:text="*{plan}" class="italic">3 rooms, 1 balcony, 1 bathroom</div>
          <div th:text="*{description}" class="desc">Two bedroom apartment with sea view in a modern apartment complex consisting of luxury apartments in the popular resort of Sunny Beach.</div>
        </div>
        <h4 th:text="|*{price} &euro;|" class="price">58 900 €</h4>
      </div>
    </article>


  <p>Best regards,</p>
  <p>My-home.now</p>


</main>


</body>

</html>