<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Home</title>

</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
    <section id="main-title">
        <h1>All available homes at one place.</h1>
        <hr class="horisontal-line">
        <h2>To rent or buy.</h2>
        <hr class="horisontal-line">
    </section>
</header>

<main>
    <section id="search-img">
        <img src="/images/house.png" alt="">
    </section>

    <h3 class="section-title" id="advanced-search-title">Find a nice place to live.</h3>

    <form th:method="post"
          th:action="@{/}"
          th:object="${searchFormDTO}"
          class="advanced-search" id="advanced-search">
        <div class="form form-group">

            <select class="s-form" id="type" name="type" th:errorclass="error-border">
                <option value="">*Offer Type</option>
                <option th:each="type: ${T(bg.softuni.myhome.model.enums.OfferTypeEnum).values()}"
                        th:value="${type.name()}" th:text="${type.name()}"
                        >

                </option>

            </select>

        </div>
        <div class="form-group">
            <select th:name="categoryName" class="s-form" id="categoryName"
                    name="categoryName" th:errorclass="error-border">
                <option value="">*Category</option>
                <option th:each="categoryName: ${categories}"
                        th:value="${categoryName}" th:text="${categoryName}">Maisonette
                </option>

            </select>

        </div>
        <div class="form-group">
            <select class="s-form" id="cityName" name="cityName" th:errorclass="error-border">
                <option value="">*Location</option>
                <option th:each="city: ${cities}"
                        th:value="${city}" th:text="${city}">Sofia
                </option>

            </select>

        </div>
        <div class="form-group">
            <input th:field="*{maxPrice}"
                   class="s-form" type="number"
                   name="maxPrice" id="maxPrice" placeholder="Max. price"
                  >

        </div>

        <div class="form-group">
            <small th:errors="*{minArea}"></small>
            <label for="minArea"></label>
            <input th:field="*{minArea}"
                   class="s-form" type="number" name="minArea" id="minArea" placeholder="Min. area">

        </div>

        <div class="form-group">
            <select class="s-form" id="construction" name="construction">
                <option class="" value="">Construction</option>
                <option th:each="constr: ${T(bg.softuni.myhome.model.enums.ConstructionEnum).values()}"
                        th:value="${constr.name()}" th:text="${constr.name()}">Brick
                </option>

            </select>
        </div>
        <div class="form-group">
            <select class="s-form" id="heating" name="heating">
                <option value="">Heating</option>
                <option th:each="heating: ${T(bg.softuni.myhome.model.enums.HeatingEnum).values()}"
                        th:value="${heating.name()}" th:text="${heating.name()}">Gas
                </option>
            </select>
        </div>
        <small th:errors="*{heating}"></small>
        <div class="form-group">
            <select class="s-form" id="agencyName" name="agencyName">
                <option value="">Agency</option>
                <option th:each="agency: ${agencies}"
                        th:value="${agency}" th:text="${agency}">Address
                </option>

            </select>
        </div>


        <div class="form-group">
            <select th:field="*{sortBy}" class="s-form" id="sortBy" name="sortBy">
                <option value="" >Sort By</option>
                <option th:value="price">Price</option>
                <option th:value="receivedOn">Date</option>
            </select>
        </div>

        <div>.</div>

        <div class="btn">
            <button class="submit-btn" type="submit">Search</button>
        </div>


    </form>
    <h3 class="section-title">Last added offers.</h3>

    <section th:unless="${no_last_offers}" class="latest-offers">
        <article th:each="offer: ${lastAddedOffers}" th:object="${offer}" class="offer-brief">

            <img th:src="*{imageURL}" alt="Pomorie">
            <h3 class="price-index" th:text="|*{price} &euro;|">58 900 €</h3>
            <div class="text">
                <span class="area-index" th:text="|*{area} m2.|">82 m2.</span>
                <span><i class="fa-solid fa-stairs"></i>
                    <span th:text="*{floorInfo}">3 from 6</span></span>
                <div class="plan-index" th:text="*{plan}">3 rooms, 1 balcony, 1 bathroom</div>
                <div class="city-index"><i class="fa-sharp fa-solid fa-location-dot"></i>
                    <span th:text="*{city}">Pomorie</span></div>


                <a class="no-underline br-off-btn"
                    th:href="@{/offers/{visibleId}(visibleId=*{visibleId})}">More
                    details</a>
            </div>
        </article>


    </section>



</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>