<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Login</title>
</head>

<body class="login">
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>

</header>

<main>

    <div class="login-container">


        <form class="form"
              th:method="post"
              th:action="@{/users/login}">

            <p th:if="${bad_credentials}"
               class="error-message">Invalid username or password.</p>
            <label for="username">
                <input class="field"
                       type="text"
                       th:value="${username}"
                       placeholder="Userame"
                       id="username"
                       name="username"></label>
            <label for="password">
                <input class="field"
                       type="password"
                       placeholder="Password"
                       id="password"
                       name="password"></label>


            <button type="submit" class="submit-btn">Login</button>
        </form>


        <ul class="links">
            <li><a id="forgotten-password" href=""></a>Forgotten password</li>
        </ul>

    </div>


    <th:block th:replace="~{fragments/commons::footer}"></th:block>


</main>

</body>

</html>