<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
  <th:block th:replace="~{fragments/commons::head}"></th:block>
  <title>Search result</title>
</head>

<body>
<header>
  <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


  <div class="one-row">
    <div class="underlined-msg result-msg">Please check your email and finish your registration!"</div>
  </div>

  </section>



</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>