<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Register</title>
</head>

<body class="register">
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>

    <div class="register-container">

        <form class="form"
              th:action="@{/users/register}"
              th:method="post"
              th:object="${userRegisterDTO}">
            <p th:errors="*{names}" class="error-message"></p>
            <input class="field"
                   type="text"
                   id="names"
                   th:field="*{names}"
                   placeholder="First and Last name">
            <p th:errors="*{email}" class="error-message"></p>
            <input class="field"
                   type="email"
                   placeholder="Email"
                   id="email"
                   th:field="*{email}">
            <p th:errors="*{username}" class="error-message"></p>
            <input class="field"
                   type="text"
                   placeholder="Username"
                   id="username"
                   th:field="*{username}">
            <p th:errors="*{password}" class="error-message"></p>
            <!-- <input class="field" type="number" placeholder="Phone number" id="pnoneNumber" name="phoneNumber"> -->
            <input class="field"
                   type="password"
                   placeholder="Password"
                   id="password"
                   name="password">
            <p th:errors="*{confirmPassword}" class="error-message"></p>
            <input class="field"
                   type="password"
                   placeholder="Confirm password"
                   id="confirmPassword"
                   name="confirmPassword">

            <button type="submit" class="submit-btn">Register</button>


        </form>

    </div>


    <th:block th:replace="~{fragments/commons::footer}"></th:block>


</main>

</body>

</html>