<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Offer details</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


    <h4 class="section-title">
        <span class="blue ">Request</span> Details.
    </h4>



    <form class="form request-form" action="/" method="post">
        <table class="request-table">

            <tbody>

            <tr >
                <td class="bold margin-right">Received on</td>
                <td>20-11-2022</td>
            </tr>
            <tr >
                <td class="bold margin-right">Offer Id</td>
                <td>31176</td>
            </tr>
            <tr >
                <td class="bold margin-right">Offer Name</td>
                <td><a href="">2-bedroom apartment in Sunny Beach</a></td>
            </tr>

            <tr >
                <td class="bold margin-right">Client Name</td>
                <td>Ivan Ivanov</td>
            </tr>
            <tr >
                <td class="bold">Email</td>
                <td>ivan@mail.bg</td>
            </tr>
            <tr >
                <td class="bold margin-right">Phone</td>
                <td>0899899899</td>
            </tr>

            <tr class="rqst-info">
                <td class="bold margin-right">Message</td>
                <td>I am interested to buy this apartment.</td>
            </tr>


            </tbody>
        </table>

        <div class="notes">
            <textarea name="notes" id="notes" rows="5" placeholder="Notes"></textarea>
        </div>

        <div class="status">
            <label class="bold blue" for="status-select">Status</label>
            <select class="edit-acc-field" id="status-select" name="status" >
                <option class="status-field" value="new">New</option>
                <option class="status-field" value="inspection">Inspection</option>
                <option class="status-field" value="replied">Replied</option>
                <option class="status-field" value="reject">Reject</option>
            </select>

        </div>


        <button class="new-btn rqst-btn">Save</button>
    </form>

</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>