<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Request details</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


    <h4 class="section-title">
        <span class="blue ">Request</span> Details.
    </h4>


    <form class="form request-form"
          th:action="@{/agency/requests/{requestId}(requestId=${request.id})}"
          th:method="post" th:object="${agencyRequestDTO}">
        <table class="request-table">

            <tbody>

            <tr>
                <td class="bold margin-right">Received on</td>
                <td th:text="${request.receivedOn}">20-11-2022</td>
            </tr>
            <tr>
                <td class="bold margin-right">Request Id</td>
                <td th:text="${request.id}">2</td>
            </tr>
            <tr>
                <td class="bold margin-right">Offer Id</td>
                <td th:text="${request.offerVisibleId}">31176</td>
            </tr>
            <tr>

                <td class="bold margin-right">Offer Name</td>
                <td><a th:text="${request.offerName}"
                       th:href="@{/offers/{id}(id=${request.offerVisibleId})}">2-bedroom apartment in Sunny Beach</a></td>
            </tr>

            <tr>
                <td class="bold margin-right">Client Name</td>
                <td th:text="${request.clientName}">Ivan Ivanov</td>
            </tr>
            <tr>
                <td class="bold">Email</td>
                <td th:text="${request.email}">ivan@mail.bg</td>
            </tr>
            <tr>
                <td class="bold margin-right">Phone</td>
                <td th:text="${request.phone}">0899899899</td>
            </tr>

            <tr class="rqst-info">
                <td class="bold margin-right">Message</td>
                <td th:text="${request.message}">I am interested to buy this apartment.</td>
            </tr>


            </tbody>
        </table>

        <div class="notes">
            <textarea th:text="${request.notes}"
                      th:name='notes'
                      id="notes" rows="5" placeholder="Notes"></textarea>
        </div>

        <div class="status">
            <label class="bold blue" for="status-select">Status</label>
            <select
                    class="edit-acc-field" id="status-select" name="status">
                <option
                        th:each="status: ${requestStatusEnums}"
                        th:text="${status}"  th:name="status" id="status"

                        th:selected="${status==request.status}"
                        class="status-field">New
                </option>

            </select>

        </div>


        <button type="submit" class="new-btn rqst-btn">Save</button>
    </form>

</main>
<th:block th:replace="~{fragments/commons::footer}"></th:block>

</body>

</html>