<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>You wished for offers</title>
</head>


<body>

<main>

    <p>Hello <th:block th:text="${username}"></th:block>,
    <p>You can check the new properties added to our website, according to Your last search:</p>


    <p>Click
        <a th:href="@{http://localhost:8080/search/{id}(id = ${searchId})}">here</a>
    </p>


   <p>
       <br>Best regards,
       <br> my-home.now
       <br> Sofia 1000, 12 Serdika, ground floor
       <br> +359 885 00 00 11
       <br> office@my-home.now
   </p>
</main>


</body>

</html>