<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Violation attempt</title>
</head>


<body>

<main>

    <p>Attempt to access unauthorized page:</p>
    <p>URI: <th:block th:text="${pageUri}"></th:block> </p>

    <p>User: <th:block th:text="${user}"></th:block></p>



</main>


</body>

</html>