<!DOCTYPE html>
<html lang="en xmlns:th=http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>All Agencies</title>
</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>



    <h3 class="section-title" id="offers-title">
        <span class="blue">All agencies</span> offering properties.
    </h3>


    <div class="order">
        <h4>Order by</h4>
        <div class="radio-cnt">
            <input type="radio" name="name" id="name">
            <label for="name">Name</label>
        </div>
        <div class="radio-cnt">
            <input type="radio" name="numberOfOffers" id="numberOfOfferse">
            <label for="numberOfOffers">Number of offers</label>
        </div>
        <div class="radio-cnt">
            <input type="radio" name="rating" id="rating">
            <label for="rating">Rating</label>
        </div>

    </div>

    <section class="all-agencies">

        <article class="offer-search agn-brief">
            <div class="text">
                <h3>Address Agency</h3>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia, Dondukov 77</address>
                <div><i class="fa-solid fa-phone"></i>088 21 21 450</div>
                <div><i class="fa-solid fa-rectangle-ad"></i><a class="agn-properties" href="">77 properties</a>
                </div>
                <div class="rating">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

            <img class="agn-logo" src="/Project/images/address_agn.pic" alt="">
        </article>


        <article class="offer-search agn-brief">
            <div class="text">
                <h3>Address Agency</h3>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia, Dondukov 77</address>
                <div><i class="fa-solid fa-phone"></i>088 21 21 450</div>
                <div><i class="fa-solid fa-rectangle-ad"></i><a class="agn-properties" href="">77 properties</a>
                </div>
                <div class="rating">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

            <img class="agn-logo" src="/Project/images/address_agn.pic" alt="">
        </article>


        <article class="offer-search agn-brief">
            <div class="text">
                <h3>Address Agency</h3>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia, Dondukov 77</address>
                <div><i class="fa-solid fa-phone"></i>088 21 21 450</div>
                <div><i class="fa-solid fa-rectangle-ad"></i><a class="agn-properties" href="">77 properties</a>
                </div>
                <div class="rating">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

            <img class="agn-logo" src="/Project/images/address_agn.pic" alt="">
        </article>


        <article class="offer-search agn-brief">
            <div class="text">
                <h3>Address Agency</h3>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia, Dondukov 77</address>
                <div><i class="fa-solid fa-phone"></i>088 21 21 450</div>
                <div><i class="fa-solid fa-rectangle-ad"></i><a class="agn-properties" href="">77 properties</a>
                </div>
                <div class="rating">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

            <img class="agn-logo" src="/Project/images/address_agn.pic" alt="">
        </article>


        <article class="offer-search agn-brief">
            <div class="text">
                <h3>Address Agency</h3>
                <address><i class="fa-sharp fa-solid fa-location-dot"></i>Sofia, Dondukov 77</address>
                <div><i class="fa-solid fa-phone"></i>088 21 21 450</div>
                <div><i class="fa-solid fa-rectangle-ad"></i><a class="agn-properties" href="">77 properties</a>
                </div>
                <div class="rating">
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star checked"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
            </div>

            <img class="agn-logo" src="/Project/images/address_agn.pic" alt="">
        </article>

    </section>


</main>
<th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>