<!DOCTYPE html>
<html lang="en "
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Add-offer</title>
</head>

<body class="add-offer">
    <header>
        <th:block th:replace="~{fragments/commons::nav}"></th:block>
    </header>

    <main>


        <h3 class="section-title"><span class="blue">Add</span> offer - Step 1.</h3>
        <p class="info">The entered information will not be visible until the offer is published.</p>

        <form th:action="@{/agency/offers/add/one}"
              th:method="post"
              th:object="${offerPageOneDTO}" class=" form add-offer-form">


            <div class="form-group">
                <input class="s-form" type="text" name="name" id="name"
                    placeholder="*Name / between 5 and 50 symbols /"
                       th:field="*{name}"
                       th:errorclass = "error-border">
            </div>

            <div class="grid-2">

                <div class="form-group">
                    <select th:name = "type" th:errorclass="error-border" class="s-form" id="type">
                        <option >*Chose Type</option>
                        <option th:each="type: ${offerTypeEnums}"
                                th:value="${type.name()}" th:text="${type.name()}"
                                >Rent</option>

                    </select>
                </div>
                <div class="form-group">
                    <select th:name = "categoryName" th:errorclass="error-border" class="s-form" id="categoryName">
                        <option >*Chose Category</option>
                        <option th:each="category: ${categories}"
                                th:value="${category}" th:text="${category}"
                      >
                            One bedroom</option>

                    </select>
                </div>


                <div class="form-group">
                    <select th:name = "construction" th:errorclass="error-border"  class="s-form" id="construction">
                        <option >*Chose Construction</option>
                        <option th:each="constr: ${constructionEnums}"
                                th:value="${constr.name()}" th:text="${constr.name()}"
                        >Brick</option>

                    </select>
                </div>
                <div class="form-group">
                    <select th:name = "heating" th:errorclass="error-border" class="s-form" id="heating">

                        <option >*Chose Heating</option>
                        <option th:each="heating: ${heatingEnums}"
                                th:value="${heating.name()}" th:text="${heating.name()}">Gas</option>

                    </select>
                </div>

                <div class="form-group">
                    <input class="s-form" type="number" name="price" id="prce"
                           placeholder="*Enter Price in eur"
                           th:field="*{price}"
                           th:errorclass = "error-border">
                </div>
                <div class="form-group">
                    <input class="s-form" type="number" name="area" id="area"
                           placeholder="*Enter Area in sq.m."
                           th:field="*{area}"
                           th:errorclass = "error-border">
                </div>
            </div>


            <textarea class="add-offer-desc"
                      placeholder="*Detailed Description of the property / min 200 characters /" name="description"
                id="description" rows="10"
                      th:field="*{description}"
                      th:errorclass = "error-border"></textarea>


            <div class="btn">
                <button class="submit-btn" type="submit">Next</button>
            </div>
        </form>



    </main>
    <th:block th:replace="~{fragments/commons::footer}"> </th:block>

</body>

</html>