<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head>
    <th:block th:replace="~{fragments/commons::head}"></th:block>
    <title>Favourites</title>

</head>

<body>
<header>
    <th:block th:replace="~{fragments/commons::nav}"></th:block>
</header>

<main>


    <h3 class="section-title" id="offers-title">
        <span class="blue">Favourite</span> properties.
    </h3>

    <aside id="fav-aside" class="request quick-search">

        <h3 class="section-title" id="quick-search-title"> Quick search</h3>

        <form th:method="post" th:action="@{/offers/favourites}"
              th:object="${searchFormDTO}"
              class="form search-form">
            <div class="form-group">
                <small class="req-errors" th:errors="*{type}"></small>
                <select class="s-form" id="type" name="type" th:errorclass="error-border">
                    <option value="">*Offer Type</option>
                    <option th:each="type: ${offerTypeEnums}"
                            th:value="${type.name()}" th:text="${type.name()}">
                    </option>

                </select>

            </div>
            <div class="form-group">
                <small class="req-errors" th:errors="*{categoryName}"></small>
                <select class="s-form" id="categoryName" name="categoryName" th:errorclass="error-border">
                    <option value="">*Category</option>
                    <option th:each="categoryName: ${categories}"
                            th:value="${categoryName}" th:text="${categoryName}">Maisonette
                    </option>

                </select>

            </div>
            <div class="form-group">
                <small class="req-errors" th:errors="*{cityName}"></small>
                <select class="s-form" id="cityName" name="cityName" th:errorclass="error-border">
                    <option value="">*Location</option>
                    <option th:each="city: ${cities}"
                            th:value="${city}" th:text="${city}">Sofia
                    </option>

                </select>

            </div>

            <div id="adv-search-link">
                <a th:href="@{/static}">Advanced search</a>
            </div>
            <button type="submit" class="submit-btn">Search</button>
        </form>


    </aside>


    <section id="fav-offers" class="all-offers">

    <script type="text/javascript" src="/js/offers-list.js"></script>

    </section>


</main>
<th:block th:replace="~{fragments/commons::footer}"></th:block>


</body>

</html>





